@{
    ViewBag.Title = "Start Page";
    Layout = "/Views/Shared/_Layout.cshtml";
}
 
<form action="/Result" method="post">
	<p align="center"><h1>Sitemap builder</h1></p> 
    <p align="center"><h3>Enter url of site:</h3></p>
	<input type="text" name="url"/>
	<input type="submit" value="Generate"/>
</form>

